@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

img {
    border-radius: 50%;
    max-width: 100%;
    height: 150px;
    object-fit: fill;
}

h1 {
    font-weight: normal;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 44px;
    text-align: center;
}

body {
    font-family: sans-serif;
    background-image: url("images/background.jpg");
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire*/
}

p {
    color: white;
    font-size: 17px
}

#footer-copyright {
    color: white;
    vertical-align: bottom;
    bottom: 0;
    margin-left: 85%;
    margin-right: 20px;
    text-align: right;
    position: absolute;
}

#main {
    margin: 40px auto 140px;
    width: 90%;
}

a {
    color: blue;
}

#footer-button {

    margin: 40px auto 140px;
    color: white;
    display: block;
    text-align: center;
    border: none;
    padding: 14px 54px;

}

button:hover {

    opacity: .5;
}
.navbar-nav{
    background: transparent;


}